                    <ul>
                        <li>A more secure pastebin in the world!</li>
                        <li>Cost $250,000 to build</li>
                        <li>Register now!</li>
                    </ul>