<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">
    <main>
    
        <h1><%= message %></h1>
        <h2><%= status %></h2>
    </main>
<body>




<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>