extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1 PackageManager 2021
      p.lead Welcome to the PackageManager Site! Try hard to create your own package and submit it to admin :)