<!DOCTYPE html>
<html>
  <head>
    <title>Autobots</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>

    </style>
</head>
  <body>
    <%include incloud/inc2.ejs %>



  </body>
</html>
