@charset "UTF-8";
a.no-decoration:hover {
  text-decoration: none;
}

.indigo a.color-black {
  color: #333;
}

textarea {
  resize: none;
}

.author-card .icon-social {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
}

.card-text pre {
  white-space: pre-wrap;
}

td.vtop {
  vertical-align: top;
}

.tt-toolbar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  min-height: 70px;
  padding: 10px 40px 10px 35px;
  background-color: #fff;
  color: #808080;
  border-bottom: 1px solid #dee2e6;
}
.tt-toolbar a.logo {
  display: inline-block;
  font-size: 24px;
  line-height: 50px;
  font-weight: 500;
  float: left;
  color: #1a8ff2;
}
.tt-toolbar a.logo img.logo-img {
  height: 24px;
  margin: 13px 5px 13px 0;
  float: left;
}

.article-list a.title {
  display: block;
  margin-bottom: 4px;
  color: #5c5c5c;
}
.article-list a.title:hover {
  text-decoration: none;
  color: #3f51b5;
}

.author {
  font-weight: 500;
  color: #333333;
}

.time {
  font-weight: 300;
  color: #999999;
}

.logo:hover {
  text-decoration: none;
}

.socials {
  border-top: 1px solid #dee2e6;
}

article.articles {
  word-wrap: break-word;
  padding: 0 20px 20px 20px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
article.articles h1, article.articles h2, article.articles h3, article.articles h4, article.articles blockquote, article.articles ol, article.articles pre, article.articles table, article.articles ul {
  margin-bottom: 20px;
}
article.articles p {
  margin: 12px 0 20px 0;
}
article.articles h1, article.articles h2, article.articles h3, article.articles h4, article.articles h5, article.articles h6 {
  color: #3f51b5;
  font-weight: 400;
}
article.articles h2:before {
  content: "#";
  color: #c5cae9;
  position: relative;
  margin-left: -15px;
  margin-right: 2px;
  font-weight: bold;
}
article.articles a.toclink {
  background-color: transparent;
  background-image: none;
  color: #3f51b5;
  text-decoration: none;
  outline: 0;
  border-bottom: 0;
}
article.articles a {
  color: #ff4081;
  border-bottom: 1px dotted #ffa6c4;
  word-break: break-all;
  background-color: transparent;
  background-image: none;
  text-decoration: none;
  outline: 0;
}
article.articles ol, article.articles ul {
  padding-left: 30px;
}
article.articles ol li, article.articles ul li {
  margin-bottom: 12px;
  display: list-item;
  text-align: -webkit-match-parent;
}
article.articles img {
  max-width: 100%;
  height: auto;
  display: block;
}
article.articles pre {
  padding: 20px 20px;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  background: #f5f5f5;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 100%;
}
article.articles pre code {
  border: 0;
}
article.articles code {
  font-family: Consolas, Monaco, courier, monospace;
  color: #ff4081;
  line-height: 1;
  padding: 3px 0px;
  border: 1px solid #eee;
  border-radius: 2px;
  word-wrap: break-word;
  background-color: inherit;
  box-shadow: none;
}
article.articles blockquote {
  position: relative;
  padding: 12px 20px;
  border-left: 4px solid #3f51b5;
  color: #6e6e6e;
  background: #f5f5f5;
  font-size: 14px;
  border-radius: 0 2px 2px 0;
}

.breadcrumb {
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.avatar-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}
.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
  font-family: FontAwesome;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}
.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: -17px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

.profile-menu .list-group-item.active:hover {
  color: #fff;
}

.user-name {
  text-transform: none;
}

.btn-wooyun-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  padding: 10px 0;
}

.autowrap {
  word-break: break-word;
  word-wrap: break-word;
}

#wx-iframe {
  width: 340px;
  height: 300px;
  overflow: hidden;
}
#wx-iframe iframe {
  position: relative;
  top: -40px;
  height: 340px;
  width: 340px;
  border: 0;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight {
  background: #f8f8f8;
}

.highlight .c {
  color: #408080;
  font-style: italic;
}

/* Comment */
.highlight .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
.highlight .o {
  color: #666666;
}

/* Operator */
.highlight .ch {
  color: #408080;
  font-style: italic;
}

/* Comment.Hashbang */
.highlight .cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
  color: #BC7A00;
}

/* Comment.Preproc */
.highlight .cpf {
  color: #408080;
  font-style: italic;
}

/* Comment.PreprocFile */
.highlight .c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
.highlight .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
.highlight .gd {
  color: #A00000;
}

/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #FF0000;
}

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
.highlight .gi {
  color: #00A000;
}

/* Generic.Inserted */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gt {
  color: #0044DD;
}

/* Generic.Traceback */
.highlight .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
.highlight .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #008000;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #B00040;
}

/* Keyword.Type */
.highlight .m {
  color: #666666;
}

/* Literal.Number */
.highlight .s {
  color: #BA2121;
}

/* Literal.String */
.highlight .na {
  color: #7D9029;
}

/* Name.Attribute */
.highlight .nb {
  color: #008000;
}

/* Name.Builtin */
.highlight .nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
.highlight .no {
  color: #880000;
}

/* Name.Constant */
.highlight .nd {
  color: #AA22FF;
}

/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
.highlight .nf {
  color: #0000FF;
}

/* Name.Function */
.highlight .nl {
  color: #A0A000;
}

/* Name.Label */
.highlight .nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
.highlight .nv {
  color: #19177C;
}

/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
.highlight .mb {
  color: #666666;
}

/* Literal.Number.Bin */
.highlight .mf {
  color: #666666;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #666666;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #666666;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #666666;
}

/* Literal.Number.Oct */
.highlight .sa {
  color: #BA2121;
}

/* Literal.String.Affix */
.highlight .sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #BA2121;
}

/* Literal.String.Char */
.highlight .dl {
  color: #BA2121;
}

/* Literal.String.Delimiter */
.highlight .sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #BA2121;
}

/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #008000;
}

/* Literal.String.Other */
.highlight .sr {
  color: #BB6688;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #BA2121;
}

/* Literal.String.Single */
.highlight .ss {
  color: #19177C;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #0000FF;
}

/* Name.Function.Magic */
.highlight .vc {
  color: #19177C;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #19177C;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #19177C;
}

/* Name.Variable.Instance */
.highlight .vm {
  color: #19177C;
}

/* Name.Variable.Magic */
.highlight .il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
.highlight .n {
  color: #212529;
}

/*# sourceMappingURL=app.css.map */
