/* ############ MIXINS  ############## */
/* ############ END/MIXINS  ############## */
/* ############ COLORS  ############## */
h1 {
	font-family: "Black Ops One", cursive;
	font-size: 18px;
	margin: 10px;
}

@media (min-width: 768px) {
	h1 {
		font-size: 22px;
	}
}

img{
	width:279px;
	height:142.2px;
	margin: 0px 1px;
	padding: 0px;
}

a {
	font-family: "Black Ops One", cursive;
	font-size: 20px;
	margin: 0px;
	padding: 0px;

}

.link {
	color: #d9f2f4;
	text-decoration: none;
}

.link.brackets::before {
	content: "[ ";
}

.link.brackets::after {
	content: " ]";
}

.link:hover,
.link:active,
.link:focus {
	-webkit-animation: BtnClick 2s linear;
	-moz-animation: BtnClick 2s linear;
	animation: BtnClick 2s linear;
}

@-webkit-keyframes BtnClick {
	0% {
		background: #d9f2f4;
		color: black;
	}

	25% {
		background: transparent;
		color: #d9f2f4;
	}

	50% {
		background: #d9f2f4;
		color: black;
	}

	75% {
		background: transparent;
		color: #d9f2f4;
	}

	100% {
		background: #d9f2f4;
		color: black;
	}
}

@-moz-keyframes BtnClick {
	0% {
		background: #d9f2f4;
		color: black;
	}

	25% {
		background: transparent;
		color: #d9f2f4;
	}

	50% {
		background: #d9f2f4;
		color: black;
	}

	75% {
		background: transparent;
		color: #d9f2f4;
	}

	100% {
		background: #d9f2f4;
		color: black;
	}
}

@keyframes BtnClick {
	0% {
		background: #d9f2f4;
		color: black;
	}

	25% {
		background: transparent;
		color: #d9f2f4;
	}

	50% {
		background: #d9f2f4;
		color: black;
	}

	75% {
		background: transparent;
		color: #d9f2f4;
	}

	100% {
		background: #d9f2f4;
		color: black;
	}
}

.btn {
	margin: 5px;
	color: black;
	background: #93EDF5;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: bold;
	border: 2px solid #93EDF5;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(16, 81, 139, 0.78);
	-moz-box-shadow: 0px 0px 4px 2px rgba(16, 81, 139, 0.78);
	box-shadow: 0px 0px 4px 2px rgba(16, 81, 139, 0.78);
}

.btn:hover,
.btn:focus,
.btn:active {
	background: transparent;
	color: #93EDF5;
	text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.83);
}

.btn.clicked {
	-webkit-animation: BtnClick 1s linear;
	-moz-animation: BtnClick 1s linear;
	animation: BtnClick 1s linear;
}

@-webkit-keyframes BtnClick {
	0% {
		background: #93EDF5;
		color: black;
	}

	25% {
		background: transparent;
		color: #93EDF5;
	}

	50% {
		background: #93EDF5;
		color: black;
	}

	75% {
		background: transparent;
		color: #93EDF5;
	}

	100% {
		background: #93EDF5;
		color: black;
	}
}

@-moz-keyframes BtnClick {
	0% {
		background: #93EDF5;
		color: black;
	}

	25% {
		background: transparent;
		color: #93EDF5;
	}

	50% {
		background: #93EDF5;
		color: black;
	}

	75% {
		background: transparent;
		color: #93EDF5;
	}

	100% {
		background: #93EDF5;
		color: black;
	}
}

@keyframes BtnClick {
	0% {
		background: #93EDF5;
		color: black;
	}

	25% {
		background: transparent;
		color: #93EDF5;
	}

	50% {
		background: #93EDF5;
		color: black;
	}

	75% {
		background: transparent;
		color: #93EDF5;
	}

	100% {
		background: #93EDF5;
		color: black;
	}
}

body {
	font-size: 16px;
	font-family: "Source Code Pro", monospace;
	color: #93EDF5;
	text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.83);
	background: #051D29;
}

@media (min-width: 769px) {
	body {
		background: #051D29 url("https://www.dropbox.com/s/idu8lqyjba9fooa/back.png?raw=1") repeat 300% 300%;
		-webkit-animation: ScanLine 10s ease-in-out infinite;
		-moz-animation: ScanLine 10s ease-in-out infinite;
		animation: ScanLine 10s ease-in-out infinite;
	}

	@-webkit-keyframes ScanLine {
		0% {
			background-position: 51% 0%;
		}

		50% {
			background-position: 50% 100%;
		}

		100% {
			background-position: 51% 0%;
		}
	}

	@-moz-keyframes ScanLine {
		0% {
			background-position: 51% 0%;
		}

		50% {
			background-position: 50% 100%;
		}

		100% {
			background-position: 51% 0%;
		}
	}

	@keyframes ScanLine {
		0% {
			background-position: 51% 0%;
		}

		50% {
			background-position: 50% 100%;
		}

		100% {
			background-position: 51% 0%;
		}
	}
}

.border.blue {
	border: 2px solid #4BA0E3;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(16, 81, 139, 0.78), inset 0px 0px 4px 2px rgba(16, 81, 139, 0.78);
	-moz-box-shadow: 0px 0px 4px 2px rgba(16, 81, 139, 0.78), inset 0px 0px 4px 2px rgba(16, 81, 139, 0.78);
	box-shadow: 0px 0px 4px 2px rgba(16, 81, 139, 0.78), inset 0px 0px 4px 2px rgba(16, 81, 139, 0.78);
}

.border.red {
	border: 2px solid #D4AFB9;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(240, 93, 94, 0.78);
	-moz-box-shadow: 0px 0px 2px 1px rgba(240, 93, 94, 0.78);
	box-shadow: 0px 0px 2px 1px rgba(240, 93, 94, 0.78);
}

.cursor {
	color: #93EDF5;
	background: transparent;
	text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.83);
	opacity: 1;
	-webkit-animation: Blink 2s ease infinite;
	-moz-animation: Blink 2s ease infinite;
	animation: Blink 2s ease infinite;
}

@-webkit-keyframes Blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes Blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes Blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	min-width: 300px;
	-webkit-animation: Glitch 10s ease-in-out infinite;
	-moz-animation: Glitch 10s ease-in-out infinite;
	animation: Glitch 10s ease-in-out infinite;
}

@-webkit-keyframes Glitch {
	9.9% {
		-webkit-transform: skew(0deg);
	}

	10% {
		-webkit-transform: skew(1deg);
	}

	10.1% {
		-webkit-transform: skew(0deg);
	}

	89.9% {
		-webkit-transform: skew(0deg);
	}

	90% {
		-webkit-transform: skew(-4deg);
	}

	90.1% {
		-webkit-transform: skew(0deg);
	}
}

@-moz-keyframes Glitch {
	9.9% {
		-webkit-transform: skew(0deg);
	}

	10% {
		-webkit-transform: skew(1deg);
	}

	10.1% {
		-webkit-transform: skew(0deg);
	}

	89.9% {
		-webkit-transform: skew(0deg);
	}

	90% {
		-webkit-transform: skew(-4deg);
	}

	90.1% {
		-webkit-transform: skew(0deg);
	}
}

@keyframes Glitch {
	9.9% {
		-webkit-transform: skew(0deg);
	}

	10% {
		-webkit-transform: skew(1deg);
	}

	10.1% {
		-webkit-transform: skew(0deg);
	}

	89.9% {
		-webkit-transform: skew(0deg);
	}

	90% {
		-webkit-transform: skew(-4deg);
	}

	90.1% {
		-webkit-transform: skew(0deg);
	}
}

.container .wrapper {
	padding: 2px;
	-webkit-animation: OpacityAnimation 10s ease-in-out infinite;
	-moz-animation: OpacityAnimation 10s ease-in-out infinite;
	animation: OpacityAnimation 10s ease-in-out infinite;
}

@-webkit-keyframes OpacityAnimation {
	0% {
		opacity: 0.8;
	}

	10% {
		opacity: 0.5;
	}

	20% {
		opacity: 0.9;
	}

	30% {
		opacity: 0.7;
	}

	40% {
		opacity: 0.9;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: 0.9;
	}

	70% {
		opacity: 0.6;
	}

	80% {
		opacity: 0.9;
	}

	90% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.9;
	}
}

@-moz-keyframes OpacityAnimation {
	0% {
		opacity: 0.8;
	}

	10% {
		opacity: 0.5;
	}

	20% {
		opacity: 0.9;
	}

	30% {
		opacity: 0.7;
	}

	40% {
		opacity: 0.9;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: 0.9;
	}

	70% {
		opacity: 0.6;
	}

	80% {
		opacity: 0.9;
	}

	90% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.9;
	}
}

@keyframes OpacityAnimation {
	0% {
		opacity: 0.8;
	}

	10% {
		opacity: 0.5;
	}

	20% {
		opacity: 0.9;
	}

	30% {
		opacity: 0.7;
	}

	40% {
		opacity: 0.9;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: 0.9;
	}

	70% {
		opacity: 0.6;
	}

	80% {
		opacity: 0.9;
	}

	90% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.9;
	}
}

.quote-machine {
	float: left;
	margin: 10px;
	width: 95vw;
}

@media (min-width: 768px) {
	.quote-machine {
		width: 600px;
	}
}

header {
	margin-bottom: 2px;
	min-height: 50px;
	position: relative;
}

header span {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

main {
	margin-bottom: 2px;
	padding: 15px;
	position: relative;
	min-height: 300px;
}

@media (max-width: 767px) and (orientation: landscape) {
	main {
		min-height: 170px;
	}
}

main blockquote {
	position: relative;
	min-height: 100px;
	margin: 5px;
}

main blockquote .author {
	float: right;
}

main blockquote .warning {
	padding-top: 0px;
	text-align: center;
}

main blockquote .warning>span {
	color: black;
	background: #D4AFB9;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: none;
}

main .block {
	position: absolute;
	bottom: 15px;
}

.page-author {
	text-align: center;
}


.open {
	background: darkmagenta !important;
	border: 2px solid darkmagenta !important;
}

textarea {
	width: 100%;
	height: 100px;
	resize: none;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	text-shadow: 2px 4px 4px gray;
	font-size: 1.3em;
	caret-color: transparent;
}

.box {
	margin-top: 50px;
	margin-left: -2px;
	width: 100%;
}