li {
    line-height: 26px;
}

a:hover {
    text-decoration: none
}

.hh_bronzemember {
    margin: -1px 0 0 10px;
}

.hh_hone {
    display: block;
    margin: 10px 0;
    float: left;
}

.hh_htow {
    display: block;
    margin-top: 10px;
}

.hh_merge {
    float: right;
    margin-bottom: 10px;
    width: 300px
}

.hh_mt {
    /*width: 1450px;*/
    margin: 20px auto 0;
}

.hh_mart {
    margin-top: -2px;
}

.hh_fl {
    float: left;
}

#includeList .topic-title {
    display: block;
    width: 58%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.o-medium-bar {
    margin-top: 30px;
    float: right;
    width: 78%;
}

.cont-box .text {
    padding: 9px 3px;
}

.hh_mf {
    padding: 8px 0;
    font-size: 16px;
}

.highlight-title {
    color: #FF0000 !important;
    font-weight: bold;
}

.editormd-form input[type=text] {
    height: auto;
    line-height: normal;
}

.editormd-file-input {
    top: -5px;
}

.uk-navbar-flip {
    background-color: #eee;
}

.post-user-action > span {
    margin-right: 10px;
    line-height: 21px;
    border: none;
}

.post-user-action .i-seprator {
    color: rgba(0, 0, 0, 0.1);
    margin: 0 2px;
}

.hh_submission a {
    color: #fff;
}

.hh_submission {
    width: 40px;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FF4200;
    color: #ffffff;
}

.basic-info ul li {
    width: 50%;
    float: left;
    list-style-type: none;
}

.basic-info ul li:nth-child(7) {
    /*width: 100%;*/
    float: left;
    list-style-type: none;
}

.post-title {
    background-color: rgb(238, 238, 238);
}

#history {
    padding-bottom: 15px;
}

.navbar .brand {
    padding: 0;
    height: 50px;
    margin-left: 0;
    display: inline-block !important;
    background-repeat: no-repeat;
    width: 120px;
    background-size: 207px 50px;
    background-image: url("/static/icon/xianzhi-brand.svg");
    /*background-image: url("https://xianzhi.aliyun.com/forum/static/icon/xianzhi-brand.svg");*/
}

.notity-box > ul > li {
    min-height: 30px;
    border-bottom: solid 1px #ddd;
}

.brand object {
    display: inline-block !important;
    background-repeat: no-repeat;
    height: 60px;
    width: 207px;
}

.brand-box {
    position: absolute
}

.hh_navbar {
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    position: fixed;
    margin-top: -20px;
    z-index: 99;
}

/* beautify */

/* end of beautify */
/* topic */

/**/

.modal-form, .tip-box {
    position: fixed;
    left: 38%;
    min-width: 200px;
    top: 30%;
    right: 38%;
    z-index: 100;
    padding: 1% 1.5%;
    background-color: white;
    border-radius: 5px;
}

.more-info {
    margin-top: -13px !important;
}

.tip-box {
    opacity: 0.6;
    background-color: #FF5151;
    text-align: center;
    font-size: larger;
    color: #28FF28;
}

.modal-form .info-edit input[type='text'], .modal-form .info-edit textarea {
    width: 96%;
    resize: none;
    overflow: hidden;
}

.related-section {
    min-height: 42px;
    padding: 5px 0;
    margin-top: 25px;
    border-top: 1px solid #eee;
}

.related-section > .related-box {
    margin-top: 17px;
}

.related-section > .related-box > span {
    display: inline-block;
    padding: 3px;
}

.related-section > .related-box > span:nth-child(1) {
    width: 47%;
}

.related-section > .related-box > span:nth-child(2) {
    border-left: 1px solid #eee;
    padding-left: 8px;
    float: right;
    width: 46%;
}

.related-box .related-label {
    padding: 3px 4px;
    margin-right: 3px;
}

#toc-container {
    /*bottom: 105px;*/
    overflow: auto;
    max-height: 650px;
}

#toc-container .panel-heading {
    padding: 5px 10px;
}

#toc {
    padding: 0 5px 10px 10px;
}

#toc li {
    list-style-type: none;
    position: relative;
}

.info-line {
    padding: 0 0 15px 0;
    /*border-bottom: 1px solid #eee;*/
}

.banner {
    position: relative;
}

.banner .banner-item {
    display: none;
    width: 100%;
    height: 170px;
    position: relative;
}

.banner .prev, .banner .next {
    position: absolute;
    top: 35px;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.banner .prev {
    left: 10px;
}

.banner .next {
    right: 10px;
}

.banner .prev:hover, .banner .next:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.banner .banner-item > .banner-title {
    position: absolute;
    text-align: left;
    left: 3%;
    bottom: 15px;
    text-shadow: none;
}

.banner ul .active {
    display: block;
}

.banner ul li {
    list-style: none !important;
    border: 1px solid #fff;
    border-radius: 6px;
}

.banner img {
    border-radius: 4px;
}

.banner .index-list {
    position: absolute;
    top: 72px;
    left: 103px;
    bottom: 20px;
}

.banner .index-list li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
}

.banner .index-list .active, .banner .index-list .li:hover {
    background-color: #ffffff;
    opacity: 1;
}

.info-line > span {
    margin-right: 15px;
}

#toc ol li:before {
    position: absolute !important;
    left: -1em !important;
    top: .5em !important;
    content: '  ';
    height: 0;
    width: 0;
}

#toc ul, ol {
    padding: 0;
    margin: 0 0 10px 15px;
}

#toc > ol {
    margin-left: 1px !important;
    position: absolute;
    z-index: 0;
    top: 50px;
    padding-left: 10px;
    width: 80%;
}

#toc a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#toc-container a {
    display: block;
}

#toc-container .panel-heading {
    background-color: #fff;
    z-index: 3;
    position: absolute;
    width: 100%;
}

#toc-container .panel-heading h4{
    margin: 10px 0 1px;
}

#toc > .high-light {
    width: 100%;
    height: 26px;
    margin-left: -10px;
    z-index: 0;
    top: 50px;
}

#toc {
    height: 635px;
    color: #000;
}

#toc-container {
    scrollbar-width: none;
}

#toc-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: none;
}

#toc::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
}

#toc-container::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}

.noti-item {
    padding: 0 15px;
}

.sfixed {
    position: fixed !important;
    top: 10px;
    width: 13.5%;
}

.info-edit {
    position: relative;
}

.info-edit .cancel {
    float: right;
}

.edit-box button {
    margin-right: 1%;

}

.confirm-btn {
    height: auto;
    text-align: right;
}

.edit-box form {
    height: 100%;
}

@media screen {
    .navbar {
        margin-bottom: 12px;
        overflow: visible;
    }
}

@media screen and (min-width: 1950px) {
    .upaper tr th {
        min-width: 300px;
    }
}

@media screen and (min-width: 1660px) and (max-width: 1945px) {
    .upaper tr th {
        min-width: 250px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1659px) {
    .upaper tr th {
        min-width: 200px;
    }

    .sfixed {
        width: 15%;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1349px) {

    .upaper tr th {
        min-width: 150px;
    }

    .sfixed {
        width: 17%;
    }
}

@media only screen and (max-width: 1100px) {
    .upaper tr th {
        min-width: auto;
    }

    .sfixed {
        width: 19.5%;
    }
}

@media only screen and (min-width: 768px) {
    .hh_container-fluid {
        width: 767px;
        margin: 0 auto;
    }

    .anonymous-user {
        display: none;
    }

    .m-modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

}

@media only screen and (max-width: 736px) {
    .modal-form {
        left: 5% !important;
        right: 5% !important;
    }

    .brand {
        margin: 0 auto;
    }

    .tiny-avatar {
        width: 40px !important;
        height: 40px !important;
    }

    .responsive-search {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0 0.2rem;
    }

    .responsive-search em:before {
        line-height: 60px;
        font-size: 1rem;
        color: #108ee9;
        cursor: pointer;

    }

    .sfixed {
        display: none !important;
    }

    .responsive-search {
        display: none;
        margin: 0 7px;
    }

    .r-search {
        position: absolute;
        top: 62px;
        z-index: 98;
        left: 0;
        right: 0;
    }

    .search-container {
        padding: 3px 5px;
        background-color: rgb(249, 249, 249);
    }

    .r-search input {
        width: 87.5%;
        display: block;
        height: 1.3rem;
        border-style: solid;
        border-width: 0.025rem;
        border-color: #cdcdcd;
        border-radius: 0.25rem;
        font-size: 0.5rem;
        color: #999;
        margin-bottom: 0 !important;
        padding: 0 1.5rem 0 1.6rem;
    }

    .r-search i {
        font-size: 0.6rem;
        color: #dfdfdf;
        position: absolute;
        top: 0.4rem;
    }

    .icon-search {
        left: 0.5rem;
    }

    .icon-remove {
        right: 0.6rem;
    }

    .anonymous-user {
        height: 50px;
        line-height: 50px;
        margin: 0 15px;
    }

    .brand-box {
        left: 15px;
    }

    .post-info .bbs-time {
        display: block;
    }

    .edit-box {
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .confirm-btn {
        height: auto;
        margin-top: 0;
    }

    .editormd-dialog {
        width: auto !important;
        height: auto !important;
        left: 0 !important;
        right: 0 !important;
    }

    .editormd-file-input {
        height: 50px !important;
        margin-left: 0 !important;
    }

    .user-summary > .u_nick > #nickname {
        font-size: 18px;
    }

    .m-modal-dialog {
        width: auto;
        margin: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1219px) {
    .hh_container-fluid {
        width: 1219px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .r-search input {
        width: 83.7%;
    }

    #dom_id {
        margin-top: 10px;
    }

    /*.brand-box {*/
    /*left: 17%;*/
    /*}*/
    .confirm-btn {
        height: auto;
        margin-top: -11px;
    }

    .modal-confirm {
        left: 5%;
    }

    .m-modal-dialog {
        width: auto;
        margin: 10px;
    }

}

@media only screen and (min-width: 321px) and (max-width: 413px) {
    .r-search input {
        width: 86%;
    }

    #dom_id {
        margin-top: 10px;
    }

    .brand-box {
        left: 15px;
    }

    .modal-confirm {
        left: 5%;
    }

    .confirm-btn {
        margin-top: -7px;
    }

    .m-modal-dialog {
        width: auto;
        margin: 10px;
    }

}

@media screen and (min-width: 1220px) {
    .hh_container-fluid {
        width: 72%;
        margin: 0 auto;
    }

    .anonymous-user {
        display: none;
    }
}

.hh_userstatus {
    position: absolute;
    right: 47px;
    top: 16px;
}

.hh_nav > li {
    float: left;
    /*width: 15%;*/
    line-height: 60px;
    font-size: 14px;
}

.hh_nav > li > a {
    padding: 10px 34px;
    color: #333;
}

.hh_nav > li:nth-child(3):hover .hh_ul {
    display: block;
}

.hh_nav > li:hover, .hh_ul > li:hover, .hh_sideNavigation > ul > li:hover, .hh_sideNavigation .active {
    background-color: rgba(0, 0, 0, 0.7);
}

.hh_mts {
    margin-top: 36px;
}

.hh_nav > li:hover > a, .hh_ul > li:hover > a, .hh_sideNavigation > ul > li:hover > a, .hh_sideNavigation .active a {
    color: #ffffff;
}

.hh_nav .uk-navbar-flip {
    float: right;
    margin-top: 8px;
    margin-right: 226px;
}

.hh_ul {
    background-color: #eee;
    display: none;
    margin-left: 0;
    margin-right: 0;
}

.hh_ul > li {
    height: 50px;
}

.hh_ul > li > a {
    padding: 10px 0 0 29px;
    color: #333;
    font-size: 14px;
}

.hh_sideNavigation {
    float: right;
    max-width: 15%;
    background-color: #EEEEEE;
    margin-top: 160px;
}

.hh_sideNavigation > ul > li {
    border-bottom: 1px dashed #fff;
}

.hh_sideNavigation > ul > li > a {
    padding: 0 15px;
    display: block;
    font-size: 16px;
    color: #999;
    padding: 12px 20px;
}

.home-list h3 {
    margin-bottom: 0px;
    color: #777;
    margin-left: -30px;
}

.home-list .box {
    margin-top: 5px;
}

.article-list {
    margin-top: 35px;
}

.home-list .pagination {
    margin-right: 15px;
}

.reply {
    margin-top: 40px;

}

.hh_mf {
    font-size: 18px;
}

.hh_mf li {
    padding-bottom: 5px;
    padding-left: 10px;
}

.editable-field {
    cursor: pointer;
    /*padding-right: 30px;*/
    background-image: url("../images/glyphicons-halflings.png");
    background-repeat: no-repeat;
    /*background-size:55px 50px;*/
    background-position: 65px;
}

.container .offset {
    margin-top: 35px;
}

.uk-article-title {
    font-size: 24px;
}

.content-pre {
    font-size: 1em;
}

.content-corner span {
    padding: 0px 5px;
}

.paper-submit {
    margin-left: 26px;
}

.reply {
    margin-top: 0;
}

.hh_commenttop {
    margin-top: 60px;
}

.cont-box .text {
    padding: 8px 3px;
}

#editormd > label:first-child {
    display: none;
}

.m-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, .2);
}

.m-modal-dialog {
    font-family: "microsoft yahei", "宋体";
    position: relative;
    /*margin: 0 auto;*/
    margin-top: -100%;
    border-radius: 5px;
    /*width: 600px;*/
    background-color: #ffffff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.m-top {
    background-color: #aab0c6;
}

.m-modal-title {
    margin: 0;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-modal-close {
    position: absolute;
    right: 3px;
    top: 3px;
    display: inline-block;
    font-size: 35px;
    line-height: 20px;
    color: #555;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

.m-modal-close:hover {
    color: #555;
}

.m-middle {
    padding: 15px;
}

.m-bottom {
    padding: 15px;
    overflow: hidden;
}

.m-bottom button {
    font-family: "microsoft yahei", "宋体";
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px 15px;
    float: right;
    margin: 0 0 0 10px;
    outline: none;
    font-size: 14px;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-bottom button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.m-bottom button:active {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.m-bottom .m-btn-sure {
    color: #fff;
    background-color: #aab0c6;
    border-color: #aab0c6;
}

.m-bottom .m-btn-sure:hover {
    color: #fff;
    /*background-color: #286090;*/
    /*border-color: #204d74;*/
    background-color: #d9534f;
    border-color: #d9534f;
}

.m-bottom .m-btn-sure:active {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
