<style>
<!--
body                  {  font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; text-decoration: none; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none}
table                 {  font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; text-decoration: none; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none}
bodytable             {  font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif; color: #008800; border-top:dotted; text-decoration: none; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none}
.inputs		      {  width:160; }
small		      { font-size:6pt; font-family: Verdana, Arial, Helvetica, sans-serif; }
-->
</style>
