<div class="col-md-10 mx-auto">
    <div class="card border-primary bg-light mb-4 rounded-3">
		<%- include('partials/nav') %>
        <div class="card-body">
            <div class="row justify-content-start">
                <h3>
                    <%= title %>
                </h3>
                <div>
                    <%= content %>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>